<ng-container *ngIf="ready; else loader">
  <div style="width: fit-content">
    <ng-container *ngFor="let row of grid; index as i">
      <div class="row" style="display: flex">
        <ng-container *ngFor="let item of row; index as j">
          <div
            class="square"
            [ngClass]="{
              selectable: canSelect(i * 32 + j)
            }"
            (click)="onSelect(i * 32 + j)"
          >
            <div
              class="tile"
              [ngClass]="{
                'bg-black': item == 1,
                'bg-white': item == 0
              }"
            ></div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #loader> Loading... </ng-template>
