<section class="p-4">
  <div class="flex">
    <div class="flex-1 p-4">
      <app-icon-grid
        [state]="state$ | async"
        [restrictTo]="(session$ | async)?.restrictTo || []"
        (appSelect)="onSelect($event)"
      ></app-icon-grid>
    </div>
    <div class="flex-1 p-4">
      <ng-container [ngSwitch]="role$ | async">
        <ng-container *ngSwitchCase="'admin'">
          <app-admin-controls
            [interactable]="interactable$ | async"
            [sessions]="sessions$ | async"
            (appRandomize)="onRandomizeState()"
            (appSetInteractable)="onSetInteractable($event)"
            (appSetParticipants)="onSetParticipants($event)"
          ></app-admin-controls>
        </ng-container>
        <ng-container *ngSwitchCase="'participant'">
          <app-participant-controls [interactable]="interactable$ | async">
          </app-participant-controls>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <app-viewer-controls
            (appSubmit)="onStartSession($event)"
          ></app-viewer-controls>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="hasSession$ | async">
        <hr class="my-4" />

        <div class="flex justify-end">
          <button class="p-2 bg-gray-200 h-fit" (click)="onEndSession()">
            End Your Session
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</section>
