<section class="p-4">
  <div class="flex">
    <div class="flex-1 p-4">
      <app-icon-grid
        [state]="state$ | async"
        [restrictTo]="restrictTo$ | async"
        (appSelect)="onSelect($event)"
      ></app-icon-grid>
    </div>
    <div class="flex-1 p-4">
      <ng-container [ngSwitch]="role$ | async">
        <ng-container *ngSwitchCase="'admin'">
          <app-admin-controls></app-admin-controls>
        </ng-container>
        <ng-container *ngSwitchCase="'participant'">
          <app-participant-controls></app-participant-controls>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <app-viewer-controls
            (appSubmit)="onStartSession($event)"
          ></app-viewer-controls>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>

<ng-container *ngIf="hasSession$ | async">
  <section class="p-8">
    <button (click)="onEndSession()">End Session</button>
  </section>
</ng-container>
